body {
	overflow: scroll !important;
}
.logo {
	width: 30%;
	padding: 10px 0 10px 0;
	margin-left: 50px;
}
.background {
	background: url("./img/70s.png") fixed center;
	background-size: 100% 100%;
	/*background-color: rgba(0,0,0,.5);*/
	filter: blur(1px);
	/*display: flex;
	align-items: center;*/
	z-index: -1;
	position:	fixed;
	height: 100%;
	width: 100%;
}
.header {
	font-family: 'Roboto', serif; 
	display: flex;
	justify-content: center;
	align-items: baseline;
	color: black;
	font-size: 25px;
	bottom: 45px;
	opacity: .7;
}
.button {
	background-color: transparent;
    border: grey solid 1px;
    border-radius: 0;
    opacity: 0;
    padding: 15px 32px;
    cursor: pointer;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.card-group{
	display:flex;
	justify-content: center;
}
.describe {
	color: grey;
	font-size: 15px;
	margin-left: 3px;
	text-align: center;
}
.main {
	position: absolute;
	z-index: 999;
	width: 100%;
	/*height: 100%;*/
	margin: 0 auto;
}

.bg-dark {
	z-index: 999;
}

.one {
	display: flex;
	justify-content: center;
	margin:auto;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(84,44,44, 1);
  }
  70% {
      box-shadow: 0 0 0 7px rgba(84,44,44, 0);
  }
  100% {
      box-shadow: 0 0 0 0 rgba(84,44,44, 0);
  }
}
.progress-bar {
	height: 3px;
	width: 100%;
	background-color: #565d68;
}
.progress {
	width: 100%;
	/*animation: pulse 2s infinite;*/
	bottom: 0px;
	/*margin-left: 25%;*/
}

.bar {
	margin-top: 15px;
	display: flex;
	justify-content: center;
}

.navbar {
	display: flex;
	justify-content: center;
}


.startScreen {
	margin-top: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}


.highlighted {
	box-shadow: 0 25px 25px 0 rgba(0, 0, 0, .2), 0 15px 20px 0 rgba(0, 0, 0, .5);
}

.okButton{
	margin-left: 47%;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 15px 32px;
	animation: pulse 2s infinite;
}

.okButton:hover {
	cursor:pointer;
}

.randomButton {
	height: 60px;
	width: 80px;
}

.card {
	margin: 5px;
	max-width: 400px;
}

.card2 {
	margin: 5px;
	max-width: 500px;
}

.card-header {
	display: flex;
	justify-content: center;
	background-color: #e6e9ef;
}

.card-text {
	margin: 5px;
	font-size: 15px;
	text-align: center;
}

.cardimgtop5 {
	height: 200px;
	width: auto;
	/*height: auto;*/
}

.cardimgtop2 {
	height: 400px;
	/*height:auto;*/
	width: 100%;
}
/*
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}*/